---
import { SITE } from '../consts';
const year = new Date().getFullYear();
---
<footer class="site-footer clearfix">
  <section class="copyright">
    <a href="/">{SITE.name}</a> &copy; {year}
  </section>
</footer>
